.mask {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.2)), url("https://images.pexels.com/photos/17650773/pexels-photo-17650773/free-photo-of-etna-over-catania-city.jpeg") no-repeat center / cover fixed;
}

.background-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.main {
  height: 100%;
  width: 100%;
}

.main .content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.main .content h1 {
  font-size: 4rem;
  padding: 0.6rem 0 1.5rem;
}

.main .content p {
  font-size: 1.4rem;
  font-weight: 200;
} 

.resume p {
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 4%;
}
.content .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 640px) {
  .mask {
    position: relative;
  }

  .main .content h1 {
    font-size: 3rem;
  }

  .main .content p {
    font-size: 1.4rem;
    padding: 0.6rem 0 1.5rem;
  }

  .content {
    margin-top: 5rem;
  }
}
